
.city {
 width: 100%;
}
.title {
    font-size: 100px;
    text-align: center;
}
.para {
    font-size: 68px;
    margin: 50px;
}
footer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
}
